
.card-box {
    display: flex;
     /* grid-template-columns: repeat(1, 200px);
     grid-template-rows: repeat(1, 300px);  */
    grid-template: repeat(1, 300px 1fr) / repeat(1, 300px 1fr);
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 40px;
     /* border: 1px solid black;  */
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
    
}

.card {
    width: 210px;
    height: 300px;
     /* border: 1px solid black; 
     background-color: lightblue;  */
    border-radius: 8px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;

    /* background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%); */
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    /* background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%); */
    /* background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%); */
    /* background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%); */
    /* background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%); */
    /* background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%); */
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.pic{
    width: 210px;
    height: 140px;
    /* background-color: lightcyan; */
    /* border: 1px solid black; */
}

.pic img{
    width: 150px;
    height: 150px;
    margin-top: 5px;
    /* border: 1px solid black; */
    border-radius: 100px;
}


input{
    width: 30%;
    height: 30px;
    margin-top: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border: none;
    border-radius: 50px;
    padding: 0px 0px 0px 20px;
    outline: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


/*
.banner {
    width: 100%;
    height: 150px;
}

.card .text {
    margin-left: 20px;
    text-align: left;
    line-height: 10px;
    font-family: Futara;
}

.card .text h3 {
    font-size: 20px;
}

.card .text p {
    font-size: 16px;
    color: gray;
}


.card h2 {
    font-size: 16px;
}

.card .like {
    width: 100%;
    height: 30px;
    background-color: lightblue;
    display: flex;
    justify-content: space-around
}

.card .like button {
    border: none;
    width: 70px;
} */